-- CreateTable
CREATE TABLE "Database" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "Compagnies" TEXT,
    "ICAO_DEP" TEXT,
    "ICAO_ARR" TEXT,
    "Avion" TEXT,
    "Heure_DEP" TEXT,
    "Numero_Vol" TEXT,
    "Registration" TEXT,
    "Jours" TEXT
);

