#settings-title {
  padding-top: 30px;
}

.advance-options,
.advance-option-container {
  display: flex;
  flex-direction: column;
}

.advance-options {
  gap: 0;
  align-items: flex-start;
  padding-bottom: 10px;
}

.advance-option-container {
  width: 220px;
  align-items: center;
}

#save-settings-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.settings-main-options {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  margin-top: -10px;
  & h4 {
    font-size: 1em;
    font-weight: normal;
  }
  & input,
  span {
    text-align: center;
  }
  & h2 {
    font-size: 1.1em;
  }
}
//toggle-switch
*,
*:before,
*:after {
  box-sizing: border-box;
}

.toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 250px;
  overflow: none;
  padding-top: 20px;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 42px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: '';
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #08d242;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 22px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

@media (width>760px) {
  .toggle {
    width: 400px;
  }
  .advance-options {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
  }
}
