name: Deploy migrations to supabase DBs
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Connect pending migrations to env file
        run: npx prisma generate --schema=prisma/users/schema.prisma
      - name: Deploy migrations to users database
        run: npx prisma migrate deploy --schema=prisma/users/schema.prisma
        env:
          DIRECT_URL: ${{ secrets.SUPABASE_USERS_DIRECTURL }}
      - name: Apply pending migrations to routes database
        run: npx prisma migrate deploy --schema=prisma/routes/schema.prisma
        env:
          DIRECT_URL: ${{ secrets.SUPABASE_ROUTES_DB_CONNECTION_STRING }}
